/* nav.css */
.navbar {
    background: linear-gradient(to bottom, #08294f00, #FFFFFF);
    position: fixed;
    z-index: 2;
    /* top: fixed; */
}

.nav-link {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    /* background-color:#12EBB7; */
    color:  #08294F!important; /* Using !important to override other styles if necessary */
    border-radius: 5px;
}

.nav-link:hover{
    background-color:#12EBB7;
}

.nav-link.active {
    color: #08294F !important; /* Ensure the active state is styled correctly */
}



.footer{

    font-size:1rem;
}

a{
    text-decoration: none;
    color: #12EBB7;
}

.btn{
    background-color: #08294F ;
    border-radius:3px;
    border: none ;
    /* font-size: 1.5rem; */
    color: #12EBB7;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    transition: background-color 0.3s, border-radius 0.3s;
}

.btn:hover{
    border-radius:2rem;
    background-color:#08294F ;
}

button{

    transition: background-color 0.3s, border-radius 0.3s;
}

button:hover{
    border-radius:2rem;
}


